{% extends "base.html" %}

{% block content %}

    <h1 class="center">{{ title }}</h1>
    
    {% if blogs|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li class="blog-title"><a href="./blog?blogID={{blog.id}}">{{ blog.title }}</a></li>
            <li>{{blog.body}}</li>
            <li class="tag">Written by: <a href="/blog?userID={{blog.owner.id}}">{{ blog.owner.username }}</a></li>
            <br>
            <hr/>
            <br>
            {% endfor %}
        </ul>
        
    {% endif %}

{% endblock %}